<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ProtectedPermissions">

    <!-- 查询所有应用程序的OP记录 -->
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />

    <!-- 监听所有应用程序的OP记录 -->
    <uses-permission android:name="android.permission.WATCH_APPOPS" />

    <!-- 查询所有应用的信息
         用于获取正在使用敏感权限应用的名称与图标。 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
</manifest>
